@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600') format('truetype');
}

@font-face {
  font-family: 'Font Awsome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') format('truetype');
}